.navigation-box {
    margin-bottom: 50px;

    span {
        margin: 10px;
        font-size: 30px;
        font-weight: 700;
        color: #fff;
        background-color: #21212150;
        border-radius: 100%;
        padding: 5px 10px;

        cursor: pointer;
    }

    .right:before {
        content: '>';
    }

    .left::before {
        content: '<';
    }
}